PySide6==6.9.0
PySide6_Essentials==6.9.0
packaging
markdown2
pypresence
portalocker
setuptools
psutil
py3nvml
vpk
tqdm
colorama
pygetwindow
watchdog
json-stream
pyinstaller
tabulate
numpy
pyqtgraph
cairosvg
lz4
parsimonious
urllib3
idna
certifi
pefile
altgraph
pytest
pythonnet
clr_loader
cffi
vdf
pycparser
Pillow