PySide6
packaging
markdown2
pypresence
portalocker
setuptools
psutil
py3nvml
vpk
tqdm
colorama
pygetwindow
watchdog
json-stream
pyinstaller
tabulate
numpy
pyqtgraph
cairosvg
lz4
parsimonious
urllib3
idna
certifi
pefile
altgraph
pytest
pythonnet