PySide6==6.9.0
PySide6_Essentials==6.9.0
PyOpenGL

markdown2
setuptools
psutil
tqdm

colorama
pyinstaller
tabulate
numpy
pyqtgraph
lameenc
lz4
parsimonious
urllib3
idna
certifi
pefile
altgraph
pytest
pyflakes
vdf

Pillow
pygltflib

GPUtil
orjson
lxml
velopack